<title>Masuk</title>
<style>
  .btn-custom {
    color: #17a2b8;
    background-color: #ffffff;
    border: 1px solid #17a2b8;
  }

  .btn-custom:hover {
    background-color: #f8f9fa;
    border-color: #17a2b8;
  }

  .logo-image {
    width: 110px;
    height: auto;
  }

  .btn-home {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    display: block;
    color: #fff;
    background-color: #0056b3;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
  }

  .btn-home:hover {
    background-color: #0e4581;
  }

  /* Mobile view (width up to 767px) */
  @media (max-width: 767px) {
    .logo-image {
      width: 25px;
      height: auto;
    }
  }
</style>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <% if flash[:alert] %>
    <div class="flash alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <br />
  <center>
    <img src="<%= asset_path 'logo-cimahi.png' %>" alt="Logo Cimahi" class="logo-image">
    <h3 style="color: white" >MASUK PPID</h3>
  </center>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'field-input', placeholder: 'Email' %>
  <%= f.password_field :password, autocomplete: "current-password", class: 'field-input', placeholder: 'Password' %>

  <div class="actions">
    <%= f.submit "Masuk", class: 'btn btn-custom' %>
<%#     <!-- Tombol Lupa Password -->
    <a href="/users/password/new" class="btn btn-custom" style="text-align: center; text-decoration:none; display: flex; justify-content: center; align-items: center;">Lupa Password</a> %>

    <a href="/users/sign_up" class="btn" style="text-align: center; text-decoration:none; display: flex; justify-content: center; align-items: center;">Daftar</a>
    <a href="/" class="btn btn-home" style="text-align: center; text-decoration:none; display: flex; justify-content: center; align-items: center;">Beranda</a>
  </div>
<% end %>
