<div id="<%= dom_id pengajuaninformasi %>">
  <p>
    <strong>Noektp:</strong>
    <%= pengajuaninformasi.noEKtp %>
  </p>

  <p>
    <strong>Namalenkap:</strong>
    <%= pengajuaninformasi.namaLenkap %>
  </p>

  <p>
    <strong>Alamatemail:</strong>
    <%= pengajuaninformasi.alamatEmail %>
  </p>

  <p>
    <strong>Notelepon:</strong>
    <%= pengajuaninformasi.noTelepon %>
  </p>

  <p>
    <strong>Jenispermohonan:</strong>
    <%= pengajuaninformasi.jenisPermohonan %>
  </p>

  <p>
    <strong>Alamatlengkap:</strong>
    <%= pengajuaninformasi.alamatLengkap %>
  </p>

  <p>
    <strong>Pekerjaan:</strong>
    <%= pengajuaninformasi.pekerjaan %>
  </p>

  <p>
    <strong>Kebutuhan:</strong>
    <%= pengajuaninformasi.kebutuhan %>
  </p>

  <p>
    <strong>Tujuan:</strong>
    <%= pengajuaninformasi.tujuan %>
  </p>

  <p>
    <strong>Cara:</strong>
    <%= pengajuaninformasi.cara_perolehan_informasi %>
  </p>

  <p>
    <strong>Dokumenidentitas:</strong>
    <%= pengajuaninformasi.dokumenIdentitas %>
  </p>

  <p>
    <strong>Dokumenpermohonaninformasi:</strong>
    <%= pengajuaninformasi.dokumenPermohonanInformasi %>
  </p>

</div>
