<p style="color: green"><%= notice %></p>

<%= render @pengajuaninformasi %>

<div>
  <%= link_to "Edit this pengajuaninformasi", edit_pengajuaninformasi_path(@pengajuaninformasi) %> |
  <%= link_to "Back to pengajuaninformasis", pengajuaninformasis_path %>

  <%= button_to "Destroy this pengajuaninformasi", @pengajuaninformasi, method: :delete %>
</div>
