<div id="<%= dom_id dokuman %>">
  <p>
    <strong>Judul dokumen:</strong>
    <%= dokuman.judul_dokumen %>
  </p>

  <p>
    <strong>Instansi:</strong>
    <%= dokuman.instansi %>
  </p>

  <p>
    <strong>Jenis dokumen:</strong>
    <%= dokuman.jenis_dokumen %>
  </p>

  <p>
    <strong>Jenis informasi:</strong>
    <%= dokuman.jenis_informasi %>
  </p>

  <p>
    <strong>Jenis ppid:</strong>
    <%= dokuman.jenis_ppid %>
  </p>

</div>
