<%= form_with(model: dokuman) do |form| %>
  <% if dokuman.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dokuman.errors.count, "error") %> prohibited this dokuman from being saved:</h2>

      <ul>
        <% dokuman.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :judul_dokumen, style: "display: block" %>
    <%= form.text_field :judul_dokumen %>
  </div>

  <div>
    <%= form.label :instansi, style: "display: block" %>
    <%= form.text_field :instansi %>
  </div>

  <div>
    <%= form.label :jenis_dokumen, style: "display: block" %>
    <%= form.text_field :jenis_dokumen %>
  </div>

  <div>
    <%= form.label :jenis_informasi, style: "display: block" %>
    <%= form.text_field :jenis_informasi %>
  </div>

  <div>
    <%= form.label :jenis_ppid, style: "display: block" %>
    <%= form.text_field :jenis_ppid %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
