<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/d1c122202a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "bootstrap.min", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "flex-slider.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag('style')%>
    <%= stylesheet_link_tag('font-awesome')%>
    <%= stylesheet_link_tag('templatemo-art-factory')%>
    <%= stylesheet_link_tag('owl-carousel')%>
    <%= javascript_include_tag('application') %>
    <%= javascript_include_tag('bootstrap.min.js') %>
    <%= javascript_include_tag('custom.js') %>
    <%= javascript_include_tag('imgfix.min.js') %>
    <%= javascript_include_tag('jquery-2.1.0.min.js') %>
    <%= javascript_include_tag('jquery.counterup.min.js') %>
    <%= javascript_include_tag('owl-carousel.js') %>
    <%= javascript_include_tag('popper.js') %>
    <%= javascript_include_tag('scrollreveal.min.js') %>
    <%= javascript_include_tag('waypoints.min.js') %>
    <link rel="icon" type="image/x-icon" href="<%= asset_path 'logo-cimahi.png' %>">
    <style>
      <%# body {
        font-family: 'Poppins', sans-serif;
      } %>
      .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
      }

      .logo-image {
        height: auto; /* Maintain aspect ratio */
      }

      .logo-text {
        font-size: 20px;
        font-weight: bold;
        color: #333;
      }

      /* Mobile view (width up to 767px) */
      @media (max-width: 767px) {
        .logo-image {
          width: 30px; /* Set width for mobile */
          height: auto; /* Set height for mobile */
        }

        .logo-text {
          font-size: 18px; /* Adjust font size for mobile if needed */
        }
      }

      .footer-logo {
          max-width: 40%;  /* Memastikan gambar tidak melebihi lebar elemen footer */
          height: auto;     /* Mempertahankan rasio aspek gambar */
        }

      /* Desktop view (width 768px and above) */
      @media (min-width: 768px) {
        .logo-image {
          width: 30px; /* Set width for desktop */
          height: auto; /* Set height for desktop */
          margin: 10px;
        }

        .logo-text {
          font-size: 20px; /* Adjust font size for desktop if needed */
        }
      }

      /* Mengatur ukuran gambar untuk desktop */
      @media (min-width: 768px) { /* Sesuaikan dengan breakpoint desktop kamu */
        .footer-logo {
          width: auto;   /* Memastikan gambar tidak diperbesar */
          max-height: 100px; /* Sesuaikan tinggi gambar sesuai kebutuhan */
        }
      }

      /* Mengatur ukuran gambar untuk mobile */
      @media (max-width: 767px) { /* Sesuaikan dengan breakpoint mobile kamu */
        .footer-logo {
          width: auto;   /* Memastikan gambar tidak diperbesar */
          max-height: 60px; /* Sesuaikan tinggi gambar sesuai kebutuhan */
        }
      }
    </style>

    <title>PPID Kota Cimahi</title>
  </head>
  <body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- <a href="#" class="logo">  PPID </a>
                       -->
                       <a href="#" class="logo">
                          <img src="<%= asset_path 'logo-cimahi.png' %>" alt="Logo Cimahi" class="logo-image">
                          <span class="logo-text">PPID</span>
                        </a>
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="">Beranda</a></li>
                            <li class="submenu" style="margin-left: 10px;">
                                <a href="javascript:;">Publikasi Informasi</a>
                                <ul>
                                    <li><a href="/berita">Berita</a></li>
                                    <li><a href="/kegiatan">Kegiatan</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="/visimisi">Visi & Misi</a></li>
                            <!-- <li class="submenu" style="margin-left: 10px;" >
                                <a href="javascript:;">Alur</a>
                                <ul>
                                    <li><a href="">Permohonan Informasi</a></li>
                                    <li><a href="">Pengajuan Keberatan</a></li>
                                    <li><a href="">Penyelesaian Sengketa</a></li>
                                </ul>
                            </li> -->
                            <li class="submenu">
                                <a href="javascript:;">PPID</a>
                                <ul>
                                    <li><a href="/ppid/utama">PPID Utama</a></li>
                                    <li><a href="/ppid/pelaksana">PPID Pelaksana</a></li>
                                    <li><a href="/ppid/pembantu">PPID Pembantu</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Informasi</a>
                                <ul>
                                    <li><a href="/informasi/berkala">Berkala</a></li>
                                    <li><a href="/informasi/setiap_saat">Setiap Saat</a></li>
                                    <li><a href="/informasi/serta_merta">Serta Merta</a></li>
                                    <li><a href="/informasi/dikecualikan">Dikecualikan</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Jenis Dokumen</a>
                                <ul>
                                    <li><a href="/jenis_dokumen/profil_badan_publik">Profil Badan Publik</a></li>
                                    <li><a href="/jenis_dokumen/program_dan_kegiatan">Program dan Kegiatan</a></li>
                                    <li><a href="/jenis_dokumen/informasi_kinerja">Informasi Kinerja</a></li>
                                    <li><a href="/jenis_dokumen/laporan_keuangan">Laporan Keuangan</a></li>
                                    <li><a href="/jenis_dokumen/laporan_dan_prosedur_akses_informasi">Laporan dan Prosedur Akses Informasi</a></li>
                                    <li><a href="/jenis_dokumen/pengaduan_dan_pelanggaran">Pengaduan dan Pelanggaran</a></li>
                                    <li><a href="/jenis_dokumen/pengadaan_barang_dan_jasa">Pengadaan Barang dan Jasa</a></li>
                                    <li><a href="/jenis_dokumen/informasi_darurat">Informasi Darurat</a></li>
                                    <li><a href="/jenis_dokumen/hasil_penelitian">Hasil Penelitian</a></li>
                                    <li><a href="/jenis_dokumen/regulasi">Regulasi</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="/pengajuaninformasis/new">Permohonan Informasi</a></li>
                            <li class="scroll-to-section">
                              <% if user_signed_in? %>
                                <%= link_to "Keluar", destroy_user_session_path, method: :delete, class: '', style: 'list-style-type: none; text-decoration:none; margin-left: 10px;' %>
                              <% else %>
                                <%= link_to "Masuk", new_user_session_path, class: '', style: 'list-style-type: none; text-decoration:none; margin-left: 10px;' %>
                              <% end %>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <%= yield %>
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">
                      <%= image_tag 'logo-diskominfo.png', alt: 'Logo Diskominfo', class: 'footer-logo' %><br>
                      Copyright &copy; 2020 Art Factory Company. Design:
                      <a rel="nofollow" href="https://templatemo.com">TemplateMo</a>
                    </p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script>
      (function($) {
      "use strict";

      $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 30,
        nav: true,
        pagination: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 2
          },
          1000: {
            items: 3
          }
        }
      });

      $(window).scroll(function() {
        var scroll = $(window).scrollTop();
        var box = $(".header-text").height();
        var header = $("header").height();

        if (scroll >= box - header) {
          $("header").addClass("background-header");
        } else {
          $("header").removeClass("background-header");
        }
      });

      // Mobile menu dropdown
      $(".submenu").on("click", function() {
        var width = $(window).width();
        if (width < 992) {
          $(".submenu ul").toggleClass("active");
        }
      });

      // Scroll animation init
      window.sr = new scrollReveal();

      // Menu Dropdown Toggle
      if ($(".menu-trigger").length) {
        $(".menu-trigger").on("click", function() {
          $(this).toggleClass("active");
          $(".header-area .nav").slideToggle(200);
        });
      }

      // Menu elevator animation
      $("a[href*=\\#]:not([href=\\#])").on("click", function() {
        if (
          location.pathname.replace(/^\//, "") ==
            this.pathname.replace(/^\//, "") &&
          location.hostname == this.hostname
        ) {
          var target = $(this.hash);
          target = target.length ? target : $("[name=" + this.hash.slice(1) + "]");
          if (target.length) {
            var width = $(window).width();
            if (width < 991) {
              $(".menu-trigger").removeClass("active");
              $(".header-area .nav").slideUp(200);
            }
            $("html,body").animate(
              {
                scrollTop: target.offset().top - 80
              },
              700
            );
            return false;
          }
        }
      });

      $(document).ready(function() {
        $(document).on("scroll", onScroll);

        //smoothscroll
        $('a[href^="#"]').on("click", function(e) {
          e.preventDefault();
          $(document).off("scroll");

          $("a").each(function() {
            $(this).removeClass("active");
          });
          $(this).addClass("active");

          var target = this.hash,
            menu = target;
          var target = $(this.hash);
          $("html, body")
            .stop()
            .animate(
              {
                scrollTop: target.offset().top - 79
              },
              500,
              "swing",
              function() {
                window.location.hash = target;
                $(document).on("scroll", onScroll);
              }
            );
        });
      });

      function onScroll(event) {
        var scrollPos = $(document).scrollTop();
        $(".nav a").each(function() {
          var currLink = $(this);

          try {
            var refElement = $(currLink.attr("href"));
            if (
              refElement.position().top <= scrollPos &&
              refElement.position().top + refElement.height() > scrollPos
            ) {
              $(".nav ul li a").removeClass("active");
              currLink.addClass("active");
            } else {
              currLink.removeClass("active");
            }
          } catch (e) {
            // Ignore href='javascript:;'
          }
        });
      }

      const Accordion = {
        settings: {
          // Expand the first item by default
          first_expanded: false,
          // Allow items to be toggled independently
          toggle: false
        },

        openAccordion: function(toggle, content) {
          if (content.children.length) {
            toggle.classList.add("is-open");
            let final_height = Math.floor(content.children[0].offsetHeight);
            content.style.height = final_height + "px";
          }
        },

        closeAccordion: function(toggle, content) {
          toggle.classList.remove("is-open");
          content.style.height = 0;
        },

        init: function(el) {
          const _this = this;

          // Override default settings with classes
          let is_first_expanded = _this.settings.first_expanded;
          if (el.classList.contains("is-first-expanded")) is_first_expanded = true;
          let is_toggle = _this.settings.toggle;
          if (el.classList.contains("is-toggle")) is_toggle = true;

          // Loop through the accordion's sections and set up the click behavior
          const sections = el.getElementsByClassName("accordion");
          const all_toggles = el.getElementsByClassName("accordion-head");
          const all_contents = el.getElementsByClassName("accordion-body");
          for (let i = 0; i < sections.length; i++) {
            const section = sections[i];
            const toggle = all_toggles[i];
            const content = all_contents[i];

            // Click behavior
            toggle.addEventListener("click", function(e) {
              if (!is_toggle) {
                // Hide all content areas first
                for (let a = 0; a < all_contents.length; a++) {
                  _this.closeAccordion(all_toggles[a], all_contents[a]);
                }

                // Expand the clicked item
                _this.openAccordion(toggle, content);
              } else {
                // Toggle the clicked item
                if (toggle.classList.contains("is-open")) {
                  _this.closeAccordion(toggle, content);
                } else {
                  _this.openAccordion(toggle, content);
                }
              }
            });

            // Expand the first item
            if (i === 0 && is_first_expanded) {
              _this.openAccordion(toggle, content);
            }
          }
        }
      };

      (function() {
        // Initiate all instances on the page
        const accordions = document.getElementsByClassName("accordions");
        for (let i = 0; i < accordions.length; i++) {
          Accordion.init(accordions[i]);
        }
      })();

      // Home seperator
      if ($(".home-seperator").length) {
        $(".home-seperator .left-item, .home-seperator .right-item").imgfix();
      }

      // Home number counterup
      if ($(".count-item").length) {
        $(".count-item strong").counterUp({
          delay: 10,
          time: 1000
        });
      }

      // Page loading animation
      $(window).on("load", function() {
        if ($(".cover").length) {
          $(".cover").parallax({
            imageSrc: $(".cover").data("image"),
            zIndex: "1"
          });
        }

        $("#preloader").animate(
          {
            opacity: "0"
          },
          600,
          function() {
            setTimeout(function() {
              $("#preloader")
                .css("visibility", "hidden")
                .fadeOut();
            }, 300);
          }
        );
      });
    })(window.jQuery);
    </script>
  </body>
</html>
